<h1>All Bookings</h1>

<ul>
  <% @bookings.each do |booking| %>
    <li>
      Booking ID: <%= booking.id %> |
      User: <%= booking.user.username %> |
      Date: <%= booking.start_date %>
      Date: <%= booking.end_date %> |
    </li>
  <% end %>
</ul>
