<div style="color: white">
  <%= form_with url: frogs_path, method: :get, local: true do |form| %>
    <%= form.label :query, "Search frogs" %>
    <%= form.text_field :query, placeholder: "Search frogs ðŸ¸ ", value: params[:query], class: "form-control" %>
    <div class="btn btn-gradients mt-2 mb-4">
      <%= form.submit "Search", class: "btn btn-Success" %>
    </div>
  <% end %>
</div>
