<div class="background">
  <div class="banner">
    <video autoplay muted loop id="frogVideo">
      <source src="<%= asset_path('frog.mp4') %>" type="video/mp4">
    </video>
    <div class="video-overlay"></div>

    <div class="container">
      <h1>Find your frog <strong>Today!</strong></h1>
      <p>Give the perfect home to your frog.</p>
      <a class="btn btn-gradient" href="/frogs">Enter</a>
    </div>
  </div>
</div>
